<!DOCTYPE HTML>
<!--
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ja">
	<head>
		<title>武道|玄流|活殺術|</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<% siteroot = (typeof baseUrl == 'undefined' ? '' : 'http://' + baseUrl) %>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'> -->
		<!--[if lte IE 8]><script src="<%= siteroot %>/js/front/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="<%= siteroot %>/js/front/skel.min.js"></script>
		<script src="<%= siteroot %>/js/front/skel-panels.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="<%= siteroot %>/styles/front/skel-noscript.css" />
			<link rel="stylesheet" href="<%= siteroot %>/styles/front/style.css" />
			<link rel="stylesheet" href="<%= siteroot %>/styles/front/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="<%= siteroot %>/styles/front/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="<%= siteroot %>/styles/front/ie/v9.css" /><![endif]-->
		<script type="text/javascript" />
		(function(){
			$("body").show();
		})();
		<script>
	</head>
	<body class="left-sidebar" style="disply:none;">

		<%- body %>

	<script src="<%= siteroot %>/js/dependencies/sails.io.js"></script>
	<script src="<%= siteroot %>/js/front/init.js"></script>
  </body>
</html>
